.elements__heart {
    min-height: 19px;
    min-width: 21px;
    align-self: center;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: 1s ease-out;
    background: none;
    background-image: url("/images/heart.svg");
    background-repeat: no-repeat;
}

.elements__heart:hover {
    opacity: 0.5;
}

.elements__heart:active {
    z-index: 1;
    opacity: 1;
    background-image: url(../../../images/heart_active.svg);
}

.elements__heart:focus {
    outline: none;
}